# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/

# Nuxt / Vue
.nuxt/
.output/
.nitro/
dist/
.env
.env.*
!.env.example

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Temporary / Log files
*.log
logs/
tmp/
temp/

# NestJS / API uploads
apps/api/uploads/
